name: Build SARA APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install Dependencies
      run: |
        pip install --upgrade pip
        pip install buildozer cython git+https://github.com/kivy/kivy.git

    - name: Install System Dependencies
      run: |
        sudo apt update
        sudo apt install -y git zip unzip autoconf automake libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo5 cmake libffi-dev libssl-dev
        sudo apt install -y openjdk-17-jdk

    - name: Build with Buildozer
      run: |
        yes | buildozer android debug
      continue-on-error: false

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: S.A.R.A-Python-Build
        path: bin/*.apk
